<h1>Toplantı Katılım Listesi</h1>
<table>
    <thead>
        <tr>
            <td>ad</td>
            <td>Email</td>
            <td>Telefon</td>
            <td>Katılım Durumu</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Seher Selin</td>
            <td>info@seherselin.com</td>
            <td>evet</td>
            <td><a href="#">Detay</a></td>
        </tr>
        <tr>
            <td>Seher Selin</td>
            <td>info@seherselin.com</td>
            <td>evet</td>
            <td><a href="#">Detay</a></td>
        </tr>
        <tr>
            <td>Seher Selin</td>
            <td>info@seherselin.com</td>
            <td>evet</td>
            <td><a href="#">Detay</a></td>
        </tr>
        <tr>
            <td>Seher Selin</td>
            <td>info@seherselin.com</td>
            <td>evet</td>
            <td><a href="#">Detay</a></td>
        </tr>
        <tr>
            <td>Seher Selin</td>
            <td>info@seherselin.com</td>
            <td>evet</td>
            <td><a href="#">Detay</a></td>
        </tr>
    </tbody>
</table>